{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    #encheres-app {
        display : none;
    }
</style>
    <div id="enchere-user-app"></div>
    <div id="encheres-app"></div>
{% endblock %}
